body { 
	margin: 0; 
	padding: 0; 
}
#map { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%; 
}
#menu {
	padding: 3px;
	background: #fff;
	position: absolute;
	height: 165px;
	z-index: 1;
	top: 10px;
	right: 10px;
	border-radius: 3px;
	width: 180px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-family: 'Open Sans', sans-serif;
} 

.map-overlay-container {
	position: absolute;
	width: 20%;
	/* height: 25%; */
	bottom: 50px;
	left: 5px;
	padding: 0px;
	z-index: 1;
	opacity: 80%;
	background-color: #ffffff;
}
 
.map-overlay {
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
 
.map-overlay h2{
	font-size: 20;
}
.map-overlay p {
	font-size: 16;
	margin: 0 0 10px;
}

.switch {
	position: absolute;
	display: inline-block;
	/* margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px; */
	width: 30px;
	height: 20px;
	left: 140px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	margin-right: 2px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	display: inline-block;
	content: "";
	height: 15px;
	width: 15px;
	left: 2px;
	bottom: 2.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 14px;
  }
  
  .slider.round:before {
	border-radius: 80%;
  }